<html>
  <head>
    <title><%= page.title %> - <%= theme.title %></title>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <div id='container'>
      <%- partial('_partial/links') %>
      <%- partial('_partial/post_pagination') %>
      <div class='content'>
        <section class='post'>
          <h1>
            <div class='date'><%- date(page.date, config.date_format) %></div>
            <%= page.title %>
          </h1>
          <% if (page.categories && page.categories.length > 0){ %>
            <font class="categories">
            &#8226; 分类:
            <%- list_categories(page.categories, {
              show_count: false,
              class: 'categories',
              style: 'none'
            }) %>
            </font>
          <% } %>
          <% if (page.tags && page.tags.length > 0){ %>
             &#8226; 标签:
            <font class="tags">
              <%- list_tags(page.tags, {
                show_count: false,
                style: 'none',
                class: 'tags'
              }) %>
            </font>
          <% } %>
          <hr>
          
          <%- page.content %>
          <%- partial('_partial/signoff') %>
        </section>
      </div>
      <% if (theme.disqus_shortname) { %>
        <%- partial('_partial/disqus') %>
      <% } %>
      <%- partial('_partial/links') %>
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>
